.edit {
	width: 100%;
	padding-top: 20px;
	overflow: hidden;
	.label-positioner {
		position: relative;
		label {
			box-sizing: border-box;
			position: absolute;
			left: 0;
			height: 34px;
			line-height: 32px;
			width: 60px;
			padding: 0 8px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			border: 1px solid $inputBorderColor;
			background-color: $titleBackgroundColor;
		}
		input {
			padding-left: 68px;
			& + label {
				display: none;
				position: absolute;
				top: 1px;
				left: auto;
				right: 8px;
				color: $errorColor;
				border: 0;
				width: auto;
				height: 32px;
			}
			&:focus + label {
				background-color: #fff;
			}
		}
	}
	label {
		display: block;
		font-size: 1.4em;
		font-weight: 600;
		margin-bottom: 6px;
		&.hidden {
			display: none;
		}
		&.collapse {
			display: none;
		}
	}
	input, textarea, select {
		width: 100%;
		min-height: 34px;
		padding: 6px 8px;
		margin-bottom: 15px;
		color: #24292e;
		background-color: $titleBackgroundColor;
		border: 1px solid $inputBorderColor;
		border-radius: 3px;
		box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
		font-size: 1.4em;
		font-family: 'Work Sans', 'Arial', sans-serif;
		&:focus {
			background-color: #fff;
			outline: none;
		}
		&.error {
			border-color: $errorColor;
			& + label {
				display: block;
			}
		}
	}
	select {
		@include prefix(appearance, none);
	}
	textarea {
		height: calc(100% - 150px);
		margin-top: 10px;
	}
	a.button {
		display: block;
		cursor: pointer;
		max-width: 300px;
		@include responsive(md) {
			max-width: 100%;
		}
		height: 34px;
		line-height: 34px;
		margin-bottom: 15px;
		font-size: 1.4em;
		font-weight: 600;
		text-align: center;
		color: #fff;
		background-color: $headerBackgroundColor;
		border-radius: 0;
		border: 0;
		text-decoration: none;
		@include print {
			display: none;
		}
		&.save:hover, &.editbutton:hover, &.success {
			background-color: #63bb7d;
		}
		&.error, &.delete:hover {
			background-color: $errorColor;
		}
		&.view:hover, &.print:hover, &.update:hover, &.download:hover, &.publish:hover {
			background-color: #4a81e4;
		}
		&:before {
			font-family: 'Font Awesome 5 Free', sans-serif;
			font-weight: 900;
			margin-right: 10px;
			content: '';
		}
		&.print:before {
			content: '\f02f';
		}
		&.save:before {
			content: '\f0c7';
		}
		&.update:before {
			content: '\f0ad';
		}
		&.publish:before {
			content: '\f0ac';
		}
		&.download:before {
			content: '\f019';
		}
		&.save.saving:before, &.update.saving:before, &.publish.saving.before {
			content: '\f2f1';
		}
		&.download.downloading:before, &.delete.deleting:before {
			content: '\f252';
		}
		&.save.success:before {
			content: '\f00c';
		}
		&.delete:before {
			content: '\f1f8';
		}
		&.editbutton:before {
			content: '\f303';
		}
		&.view:before {
			content: '\f06e';
		}
		&.save.error:before, &.delete.error:before, &.editbutton.error:before, &.view.error:before, &.print.error:before, &.update.error:before, &.download.error:before, &.publish.error:before {
			content: '\f071';
		}
	}
	#button-wrapper {
		max-width: 100%;
		span {
			&.icon {
				background-color: $tagBackgroundColor;
				color: $tagFontColor;
				padding: 3px 10px;
				border-radius: 3px;
				margin-right: 6px;
				margin-bottom: 6px;
				line-height: 30px;
				font-size: 1.2em;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					background-color: $tagHoverBackgroundColor;
				}
				&:before {
					font-family: 'Font Awesome 5 Free', sans-serif;
					font-weight: 900;
					margin-right: 5px;
				}
			}
			&#related:before {
				content: '\f35d';
			}
			&#youtube:before {
				font-family: "Font Awesome 5 Brands", sans-serif;
				content: '\f167';
			}
			&#image:before {
				content: '\f03e';
			}
			&#bold:before {
				content: '\f032';
			}
			&#italic:before {
				content: '\f033';
			}
			&#link:before, &#link-button:before {
				content: '\f0c1';
			}
			&#strikethrough:before {
				content: '\f0cc';
			}
			&#blockquote:before {
				content: '\f10d';
			}
			&#code:before {
				content: '\f054';
			}
			&#codeBlock:before {
				content: '\f121';
			}
			@for $i from 1 through 6 {
				&#h#{$i}:before {
					content: '\f1dc';
				}
			}
		}
	}
	p {
		font-size: 1.6em;
		@include print {
			display: none;
		}
	}
}

#editor {
	position: fixed;
	top: 240px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	@include responsive(md, desktop) {
		position: static;
	}
	$buttonDiameter: 50px;
	nav {
		position: absolute;
		left: #{$buttonDiameter * -1};
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		a {
			position: relative;
			display: inline-block;
			width: $buttonDiameter;
			height: $buttonDiameter;
			border-radius: 50%;
			background-color: $tagBackgroundColor;
			color: $tagFontColor;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
			margin-bottom: 10px;
			&:hover {
				background-color: $tagHoverBackgroundColor;
			}
			&:before {
				font-family: 'Font Awesome 5 Free', sans-serif;
				font-weight: 900;
				font-size: 2.5em;
				position: absolute;
				left: calc(#{$buttonDiameter} / 2 - 20px);
				top: calc(#{$buttonDiameter} / 2 - 12.5px);
				width: 40px;
				height: 40px;
				text-align: center;
			}
			&.select-all:before {
				content: '\f249';
			}
			&.view:before {
				content: '\f06e';
			}
		}
	}
}

.insertion-wrapper {
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	align-items: center;
	z-index: 2;
	&.visible {
		display: flex;
	}
	.field-container {
		padding: 20px;
		background-color: #fff;
		border-radius: 3px;
		.search-wrapper {
			padding: 15px;
			.row.active {
				background-color: #dee0e2;
			}
		}
		#image-container {
			width: 100%;
			img {
				width: 100%;
				margin-bottom: 15px;
			}
		}
		#image-delete-button {
			display: none;
			&.visible {
				display: block;
			}
		}
	}
	a.button {
		margin-right: 0;
		max-width: 100%;
	}
}

.toast {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	text-align: center;
	pointer-events: none;
	opacity: 0;
	@include prefix(transition, opacity 0.5s);
	&.visible {
		opacity: 1;
	}
	span {
		position: absolute;
		bottom: 30px;
		padding: 10px;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
		font-size: 1.6em;
		border-radius: 6px;
	}
}