/* 576    phone  */
/* 768    tablet */
/* 992    laptop */
/* 1200   desktop */
/* $point: xs, sm, md, lg, or xl */
/* $first: mobile, or desktop   depending on what you are developing first */
@media screen and (max-width: 0rem) {
  .hidden-xs-down {
    display: none; } }

@media screen and (min-width: 0rem) {
  .hidden-xs-up {
    display: none; } }

@media screen and (max-width: 36em) {
  .hidden-sm-down {
    display: none; } }

@media screen and (min-width: 36em) {
  .hidden-sm-up {
    display: none; } }

@media screen and (max-width: 48em) {
  .hidden-md-down {
    display: none; } }

@media screen and (min-width: 48em) {
  .hidden-md-up {
    display: none; } }

@media screen and (max-width: 62em) {
  .hidden-lg-down {
    display: none; } }

@media screen and (min-width: 62em) {
  .hidden-lg-up {
    display: none; } }

@media screen and (max-width: 75em) {
  .hidden-xl-down {
    display: none; } }

@media screen and (min-width: 75em) {
  .hidden-xl-up {
    display: none; } }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Arial', sans-serif;
  font-size: 10px; }

@media print {
  @page {
    margin: 2cm 0;
    orphans: 4;
    widows: 2; }
  @page :first {
    margin: 0 0 2cm; } }
header {
  background-color: #292d32;
  font-size: 1.6em; }
  header nav {
    height: 50px;
    overflow: hidden; }
    header nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 30px; }
      @media screen and (max-width: 36em) {
        header nav a {
          margin-right: 15px; } }
      header nav a:hover {
        color: rgba(255, 255, 255, 0.75); }
      header nav a.icon {
        font-size: 1.4em; }
      header nav a:first-of-type {
        font-size: 1.6em; }
    header nav form {
      height: 100%;
      margin: 0; }
      header nav form input {
        font-family: 'Work Sans', 'Arial', sans-serif;
        font-size: 13px;
        font-weight: normal;
        border: none;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        width: 100%;
        color: #fff;
        background-color: #44474c;
        padding: 0 8px; }
        header nav form input:hover, header nav form input:active, header nav form input:focus {
          outline: none; }
        header nav form input[type=submit] {
          display: none; }
    header nav .flex {
      display: flex;
      align-items: center; }
  @media print {
    header {
      display: none; } }

.title {
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
  padding: 20px 0; }
  .title .tags a {
    background-color: #f1f8ff;
    color: #0366d6;
    padding: 3px 10px;
    border-radius: 3px;
    margin-right: 6px;
    margin-bottom: 6px;
    line-height: 30px;
    font-size: 1.2em;
    text-decoration: none;
    white-space: nowrap; }
    .title .tags a:hover {
      background-color: #dfecff; }

.content h1 {
  font-size: 3.2em;
  padding-bottom: 9.5px; }
.content h2 {
  font-size: 2.4em;
  padding-bottom: 8px; }
.content h3 {
  font-size: 2.0em;
  padding-bottom: 6.5px; }
.content h4 {
  font-size: 1.8em;
  padding-bottom: 5px; }
.content h5 {
  font-size: 1.7em;
  padding-bottom: 3.5px; }
.content h6 {
  font-size: 1.65em;
  padding-bottom: 2px; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  border-bottom: 1px solid #eaecef; }
.content p {
  font-size: 1.6em;
  line-height: 150%; }
.content a {
  color: #0366d6;
  text-decoration: none; }
  .content a:hover {
    text-decoration: underline; }
.content pre {
  font-size: 14px; }
.content code:not([class^=' lang']) {
  padding: 3px 5px;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px; }
.content strong, .content b {
  font-weight: 600; }
.content blockquote {
  position: relative;
  background-color: #f4f2f0;
  margin: 7px 0;
  padding: 14px 40px 14px 40px;
  min-height: 52px; }
  .content blockquote:before, .content blockquote:after {
    position: absolute;
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    font-size: 20px; }
  .content blockquote:before {
    top: 14px;
    left: 10px;
    content: '\f10d'; }
  .content blockquote:after {
    bottom: 14px;
    right: 10px;
    content: '\f10e'; }
  .content blockquote p {
    margin-top: 0;
    font-size: 16px; }
    .content blockquote p:last-of-type {
      margin-bottom: 0; }
.content ul, .content ol {
  font-size: 16px; }
  .content ul li, .content ol li {
    margin-bottom: 5px;
    line-height: 150%; }

.edit {
  width: 100%;
  padding-top: 20px;
  overflow: hidden; }
  .edit .label-positioner {
    position: relative; }
    .edit .label-positioner label {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      height: 34px;
      line-height: 32px;
      width: 60px;
      padding: 0 8px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 1px solid #d1d5da;
      background-color: #fafbfc; }
    .edit .label-positioner input {
      padding-left: 68px; }
      .edit .label-positioner input#slug + label {
        display: none;
        position: absolute;
        top: 0;
        left: auto;
        right: 8px;
        color: #ef525b; }
  .edit label {
    display: block;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 6px; }
    .edit label.hidden {
      display: none; }
    .edit label.collapse {
      display: none; }
  .edit input, .edit textarea, .edit select {
    width: 100%;
    min-height: 34px;
    padding: 6px 8px;
    margin-bottom: 15px;
    color: #24292e;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
    font-size: 1.4em;
    font-family: 'Work Sans', 'Arial', sans-serif; }
    .edit input:focus, .edit textarea:focus, .edit select:focus {
      background-color: #fff;
      outline: none; }
    .edit input.error, .edit textarea.error, .edit select.error {
      border-color: #ef525b; }
    .edit input#slug.error + label, .edit textarea#slug.error + label, .edit select#slug.error + label {
      display: block; }
  .edit select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none; }
  .edit textarea {
    height: 100%;
    min-height: 250px;
    margin-top: 10px; }
  .edit a.button {
    display: block;
    cursor: pointer;
    max-width: 300px;
    height: 34px;
    line-height: 34px;
    margin-bottom: 15px;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #2e3035;
    border-radius: 0;
    border: 0;
    text-decoration: none; }
    @media screen and (max-width: 48em) {
      .edit a.button {
        max-width: 100%; } }
    @media print {
      .edit a.button {
        display: none; } }
    .edit a.button.save:hover, .edit a.button.editbutton:hover, .edit a.button.success {
      background-color: #63bb7d; }
    .edit a.button.error, .edit a.button.delete:hover {
      background-color: #ef525b; }
    .edit a.button.view:hover, .edit a.button.print:hover, .edit a.button.update:hover, .edit a.button.download:hover {
      background-color: #4a81e4; }
    .edit a.button:before {
      font-family: 'Font Awesome 5 Free', sans-serif;
      font-weight: 900;
      margin-right: 10px;
      content: ''; }
    .edit a.button.print:before {
      content: '\f02f'; }
    .edit a.button.save:before {
      content: '\f0c7'; }
    .edit a.button.update:before {
      content: '\f0ad'; }
    .edit a.button.download:before {
      content: '\f019'; }
    .edit a.button.save.saving:before, .edit a.button.update.saving:before {
      content: '\f2f1'; }
    .edit a.button.download.downloading:before, .edit a.button.delete.deleting:before {
      content: '\f252'; }
    .edit a.button.save.success:before {
      content: '\f00c'; }
    .edit a.button.delete:before {
      content: '\f1f8'; }
    .edit a.button.editbutton:before {
      content: '\f303'; }
    .edit a.button.view:before {
      content: '\f06e'; }
    .edit a.button.save.error:before, .edit a.button.delete.error:before, .edit a.button.editbutton.error:before, .edit a.button.view.error:before, .edit a.button.print.error:before, .edit a.button.update.error:before, .edit a.button.download.error:before {
      content: '\f071'; }
  .edit #button-wrapper {
    max-width: 100%; }
    .edit #button-wrapper span.icon {
      background-color: #f1f8ff;
      color: #0366d6;
      padding: 3px 10px;
      border-radius: 3px;
      margin-right: 6px;
      margin-bottom: 6px;
      line-height: 30px;
      font-size: 1.2em;
      text-decoration: none;
      cursor: pointer; }
      .edit #button-wrapper span.icon:hover {
        background-color: #dfecff; }
      .edit #button-wrapper span.icon:before {
        font-family: 'Font Awesome 5 Free', sans-serif;
        font-weight: 900;
        margin-right: 5px; }
    .edit #button-wrapper span#image:before {
      content: '\f03e'; }
    .edit #button-wrapper span#bold:before {
      content: '\f032'; }
    .edit #button-wrapper span#italic:before {
      content: '\f033'; }
    .edit #button-wrapper span#link:before, .edit #button-wrapper span#link-button:before {
      content: '\f0c1'; }
    .edit #button-wrapper span#strikethrough:before {
      content: '\f0cc'; }
    .edit #button-wrapper span#blockquote:before {
      content: '\f10d'; }
    .edit #button-wrapper span#code:before {
      content: '\f054'; }
    .edit #button-wrapper span#codeBlock:before {
      content: '\f121'; }
    .edit #button-wrapper span#h1:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h2:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h3:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h4:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h5:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h6:before {
      content: '\f1dc'; }

.insertion-wrapper {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center; }
  .insertion-wrapper.visible {
    display: flex; }
  .insertion-wrapper .field-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 3px; }
    .insertion-wrapper .field-container #link-search-wrapper {
      padding: 15px; }
      .insertion-wrapper .field-container #link-search-wrapper .row.active {
        background-color: #dee0e2; }
    .insertion-wrapper .field-container #image-container {
      width: 100%; }
      .insertion-wrapper .field-container #image-container img {
        width: 100%;
        margin-bottom: 15px; }
    .insertion-wrapper .field-container #image-delete-button {
      display: none; }
      .insertion-wrapper .field-container #image-delete-button.visible {
        display: block; }
  .insertion-wrapper a.button {
    margin-right: 0;
    max-width: 100%; }

.index {
  font-size: 1.6em;
  padding: 20px 0; }
  @media screen and (max-width: 36em) {
    .index {
      padding: 20px; } }
  .index .row {
    padding: 10px;
    border: 1px solid #eaecef;
    border-top: 0;
    cursor: pointer;
    overflow: hidden; }
    .index .row.index-row {
      margin: 0; }
    .index .row:hover, .index .row.active {
      background-color: #f6f8fa; }
      .index .row:hover div:first-of-type .option-wrapper, .index .row.active div:first-of-type .option-wrapper {
        display: block; }
    .index .row:first-of-type {
      background-color: #f2f7ff;
      border-color: #c8e1ff;
      border-top: 1px solid #c8e1ff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      cursor: auto; }
    .index .row:last-of-type {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    .index .row div:first-of-type .option-wrapper {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; }
      .index .row div:first-of-type .option-wrapper a {
        margin-left: 10px; }
        .index .row div:first-of-type .option-wrapper a:before {
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-weight: 900;
          margin-right: 5px;
          display: inline-block; }
        .index .row div:first-of-type .option-wrapper a.edit:before {
          content: '\f303'; }
        .index .row div:first-of-type .option-wrapper a.delete:before {
          content: '\f1f8'; }
        .index .row div:first-of-type .option-wrapper a.delete.error:before {
          content: '\f071'; }
    .index .row div:nth-of-type(2), .index .row div:nth-of-type(3) {
      text-align: right; }

/*# sourceMappingURL=styles.css.map */
