@import "mixins";

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', 'Arial', sans-serif;
	font-size: 10px;
}

@include print { //prevents automatic margins in Chrome
	@page {
		margin: 2cm 0;
		orphans: 4;
		widows: 2;
	}

	@page :first {
		margin: 0 0 2cm;
	}

	.container {
		max-width: 90%;
	}
}

$navHeight: 50px;
header {
	background-color: #292d32;
	font-size: 1.6em;
	nav {
		height: $navHeight;
		overflow: hidden;
		a {
			color: #fff;
			text-decoration: none;
			margin-right: 30px;
			@include responsive(sm) {
				margin-right: 15px;
			}
			&:hover {
				color: rgba(255, 255, 255, 0.75);
			}
			&.icon {
				font-size: 1.4em;
			}
			&:first-of-type {
				font-size: 1.6em;
			}
		}
		form {
			height: 100%;
			margin: 0;
			input {
				font-family: 'Work Sans', 'Arial', sans-serif;
				font-size: 13px;
				font-weight: normal;
				border: none;
				border-radius: 3px;
				height: 30px;
				line-height: 30px;
				width: 100%;
				color: #fff;
				background-color: #44474c;
				padding: 0 8px;
				&:hover, &:active, &:focus {
					outline: none;
				}
				&[type=submit] {
					display: none;
				}
			}
		}
		.flex {
			display: flex;
			align-items: center;
		}
	}
	@include print {
		display: none;
	}
}

$titleBackgroundColor: #fafbfc;
$inputBorderColor: #d1d5da;
$errorColor: #ef525b;
$tagBackgroundColor: #f1f8ff;
$tagHoverBackgroundColor: #dfecff;
$tagFontColor: #0366d6;
$headingBorderColor: #eaecef;
$headerBackgroundColor: #2e3035;

.title {
	background-color: $titleBackgroundColor;
	border-bottom: 1px solid #e1e4e8;
	padding: 20px 0;
}

@import "index";
@import "edit";
@import "view";