/* 576    phone  */
/* 768    tablet */
/* 992    laptop */
/* 1200   desktop */
/* $point: xs, sm, md, lg, or xl */
/* $first: up, down */
@media screen and (max-width: 0rem) {
  .hidden-xs-down {
    display: none; } }

@media screen and (min-width: 0rem) {
  .hidden-xs-up {
    display: none; } }

@media screen and (max-width: 36em) {
  .hidden-sm-down {
    display: none; } }

@media screen and (min-width: 36em) {
  .hidden-sm-up {
    display: none; } }

@media screen and (max-width: 48em) {
  .hidden-md-down {
    display: none; } }

@media screen and (min-width: 48em) {
  .hidden-md-up {
    display: none; } }

@media screen and (max-width: 62em) {
  .hidden-lg-down {
    display: none; } }

@media screen and (min-width: 62em) {
  .hidden-lg-up {
    display: none; } }

@media screen and (max-width: 75em) {
  .hidden-xl-down {
    display: none; } }

@media screen and (min-width: 75em) {
  .hidden-xl-up {
    display: none; } }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Arial', sans-serif;
  font-size: 10px; }

@media print {
  @page {
    margin: 2cm 0;
    orphans: 4;
    widows: 2; }
  @page :first {
    margin: 0 0 2cm; }
  .container {
    max-width: 90%; }

  .header-margin {
    display: none; } }
header {
  background-color: #292d32;
  font-size: 1.6em; }
  header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: top 0.1s;
    -webkit-transition: top 0.1s;
    -moz-transition: top 0.1s;
    -o-transition: top 0.1s;
    -ms-transition: top 0.1s; }
    header.fixed.hide {
      top: -50px; }
    header.fixed + .header-margin {
      width: 100%;
      height: 50px; }
  header nav {
    height: 50px;
    overflow: hidden; }
    header nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 30px; }
      @media screen and (max-width: 36em) {
        header nav a {
          margin-right: 15px; } }
      header nav a:hover {
        color: rgba(255, 255, 255, 0.75); }
      header nav a.icon {
        font-size: 1.4em; }
      header nav a:first-of-type {
        font-size: 1.6em; }
    header nav form {
      height: 100%;
      margin: 0; }
      header nav form input {
        font-family: 'Work Sans', 'Arial', sans-serif;
        font-size: 13px;
        font-weight: normal;
        border: none;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        width: 100%;
        color: #fff;
        background-color: #44474c;
        padding: 0 8px; }
        header nav form input:hover, header nav form input:active, header nav form input:focus {
          outline: none; }
        header nav form input[type=submit] {
          display: none; }
    header nav .flex {
      display: flex;
      align-items: center; }
  @media print {
    header {
      display: none; } }

.title {
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
  padding: 20px 0; }

#tag-cloud-header {
  cursor: pointer; }
  #tag-cloud-header strong:before {
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    content: '\f0fe';
    margin-right: 10px; }
  #tag-cloud-header.opened strong:before {
    content: '\f146'; }

#tag-cloud-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease 0s;
  -webkit-transition: max-height 0.4s ease 0s;
  -moz-transition: max-height 0.4s ease 0s;
  -o-transition: max-height 0.4s ease 0s;
  -ms-transition: max-height 0.4s ease 0s; }

.index {
  font-size: 1.6em;
  padding: 20px 0; }
  @media screen and (max-width: 36em) {
    .index {
      padding: 20px; } }
  .index .row {
    padding: 10px;
    border: 1px solid #eaecef;
    border-top: 0;
    cursor: pointer;
    overflow: hidden;
    transition: height 1s, padding-top 1s, padding-bottom 1s, border-top 1s, border-bottom 1s, bottom 1s, opacity 1s;
    -webkit-transition: height 1s, padding-top 1s, padding-bottom 1s, border-top 1s, border-bottom 1s, bottom 1s, opacity 1s;
    -moz-transition: height 1s, padding-top 1s, padding-bottom 1s, border-top 1s, border-bottom 1s, bottom 1s, opacity 1s;
    -o-transition: height 1s, padding-top 1s, padding-bottom 1s, border-top 1s, border-bottom 1s, bottom 1s, opacity 1s;
    -ms-transition: height 1s, padding-top 1s, padding-bottom 1s, border-top 1s, border-bottom 1s, bottom 1s, opacity 1s; }
    .index .row.deleted {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-top: 0;
      border-bottom: 0; }
    .index .row.index-row {
      position: relative;
      bottom: 0;
      margin: 0;
      background-color: #fff;
      opacity: 1;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      -ms-user-select: none; }
      .index .row.index-row.entering {
        bottom: 150px;
        opacity: 0; }
      .index .row.index-row strong.hide {
        display: none; }
      .index .row.index-row .delete-all {
        display: none; }
        .index .row.index-row .delete-all.show {
          display: inline-block; }
        .index .row.index-row .delete-all:before {
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-weight: 900;
          margin-right: 5px;
          display: inline-block;
          content: '\f1f8'; }
    .index .row:hover, .index .row.active {
      background-color: #f6f8fa; }
      .index .row:hover div:first-of-type .option-wrapper, .index .row.active div:first-of-type .option-wrapper {
        display: block; }
        @media screen and (max-width: 62em) {
          .index .row:hover div:first-of-type .option-wrapper, .index .row.active div:first-of-type .option-wrapper {
            display: none; } }
    .index .row:first-of-type {
      background-color: #f2f7ff;
      border-color: #c8e1ff;
      border-top: 1px solid #c8e1ff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      cursor: auto; }
    .index .row:last-of-type {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    .index .row div:first-of-type .option-wrapper {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; }
      .index .row div:first-of-type .option-wrapper a {
        margin-left: 10px; }
        .index .row div:first-of-type .option-wrapper a:before {
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-weight: 900;
          margin-right: 5px;
          display: inline-block; }
        .index .row div:first-of-type .option-wrapper a.edit:before {
          content: '\f303'; }
        .index .row div:first-of-type .option-wrapper a.delete:before {
          content: '\f1f8'; }
        .index .row div:first-of-type .option-wrapper a.delete.error:before {
          content: '\f071'; }
    .index .row div:nth-of-type(2), .index .row div:nth-of-type(3) {
      text-align: right; }

.edit {
  width: 100%;
  padding-top: 20px;
  overflow: hidden; }
  .edit .label-positioner {
    position: relative; }
    .edit .label-positioner label {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      height: 34px;
      line-height: 32px;
      width: 60px;
      padding: 0 8px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 1px solid #d1d5da;
      background-color: #fafbfc; }
    .edit .label-positioner input {
      padding-left: 68px; }
      .edit .label-positioner input + label {
        display: none;
        position: absolute;
        top: 1px;
        left: auto;
        right: 8px;
        color: #ef525b;
        border: 0;
        width: auto;
        height: 32px; }
      .edit .label-positioner input:focus + label {
        background-color: #fff; }
  .edit label {
    display: block;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 6px; }
    .edit label.hidden {
      display: none; }
    .edit label.collapse {
      display: none; }
  .edit input, .edit textarea, .edit select {
    width: 100%;
    min-height: 34px;
    padding: 6px 8px;
    margin-bottom: 15px;
    color: #24292e;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
    font-size: 1.4em;
    font-family: 'Work Sans', 'Arial', sans-serif; }
    .edit input:focus, .edit textarea:focus, .edit select:focus {
      background-color: #fff;
      outline: none; }
    .edit input.error, .edit textarea.error, .edit select.error {
      border-color: #ef525b; }
      .edit input.error + label, .edit textarea.error + label, .edit select.error + label {
        display: block; }
  .edit select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none; }
  .edit textarea {
    height: calc(100% - 150px);
    margin-top: 10px; }
  .edit a.button {
    display: block;
    cursor: pointer;
    max-width: 300px;
    height: 34px;
    line-height: 34px;
    margin-bottom: 15px;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #2e3035;
    border-radius: 0;
    border: 0;
    text-decoration: none; }
    @media screen and (max-width: 48em) {
      .edit a.button {
        max-width: 100%; } }
    @media print {
      .edit a.button {
        display: none; } }
    .edit a.button.save:hover, .edit a.button.editbutton:hover, .edit a.button.success {
      background-color: #63bb7d; }
    .edit a.button.error, .edit a.button.delete:hover {
      background-color: #ef525b; }
    .edit a.button.view:hover, .edit a.button.print:hover, .edit a.button.update:hover, .edit a.button.download:hover, .edit a.button.publish:hover {
      background-color: #4a81e4; }
    .edit a.button:before {
      font-family: 'Font Awesome 5 Free', sans-serif;
      font-weight: 900;
      margin-right: 10px;
      content: ''; }
    .edit a.button.print:before {
      content: '\f02f'; }
    .edit a.button.save:before {
      content: '\f0c7'; }
    .edit a.button.update:before {
      content: '\f0ad'; }
    .edit a.button.publish:before {
      content: '\f0ac'; }
    .edit a.button.download:before {
      content: '\f019'; }
    .edit a.button.save.saving:before, .edit a.button.update.saving:before, .edit a.button.publish.saving.before {
      content: '\f2f1'; }
    .edit a.button.download.downloading:before, .edit a.button.delete.deleting:before {
      content: '\f252'; }
    .edit a.button.save.success:before {
      content: '\f00c'; }
    .edit a.button.delete:before {
      content: '\f1f8'; }
    .edit a.button.editbutton:before {
      content: '\f303'; }
    .edit a.button.view:before {
      content: '\f06e'; }
    .edit a.button.save.error:before, .edit a.button.delete.error:before, .edit a.button.editbutton.error:before, .edit a.button.view.error:before, .edit a.button.print.error:before, .edit a.button.update.error:before, .edit a.button.download.error:before, .edit a.button.publish.error:before {
      content: '\f071'; }
  .edit #button-wrapper {
    max-width: 100%; }
    .edit #button-wrapper span.icon {
      background-color: #f1f8ff;
      color: #0366d6;
      padding: 3px 10px;
      border-radius: 3px;
      margin-right: 6px;
      margin-bottom: 6px;
      line-height: 30px;
      font-size: 1.2em;
      text-decoration: none;
      cursor: pointer; }
      .edit #button-wrapper span.icon:hover {
        background-color: #dfecff; }
      .edit #button-wrapper span.icon:before {
        font-family: 'Font Awesome 5 Free', sans-serif;
        font-weight: 900;
        margin-right: 5px; }
    .edit #button-wrapper span#related-wizard-button:before {
      content: '\f35d'; }
    .edit #button-wrapper span#youtube-wizard-button:before {
      font-family: "Font Awesome 5 Brands", sans-serif;
      content: '\f167'; }
    .edit #button-wrapper span#image-wizard-button:before {
      content: '\f03e'; }
    .edit #button-wrapper span#color-wizard-button:before {
      content: '\f1fc'; }
    .edit #button-wrapper span#file-wizard-button:before {
      content: '\f0c6'; }
    .edit #button-wrapper span#bold:before {
      content: '\f032'; }
    .edit #button-wrapper span#italic:before {
      content: '\f033'; }
    .edit #button-wrapper span#link:before, .edit #button-wrapper span#link-wizard-button:before {
      content: '\f0c1'; }
    .edit #button-wrapper span#strikethrough:before {
      content: '\f0cc'; }
    .edit #button-wrapper span#blockquote:before {
      content: '\f10d'; }
    .edit #button-wrapper span#code:before {
      content: '\f054'; }
    .edit #button-wrapper span#codeBlock:before {
      content: '\f121'; }
    .edit #button-wrapper span#h1:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h2:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h3:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h4:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h5:before {
      content: '\f1dc'; }
    .edit #button-wrapper span#h6:before {
      content: '\f1dc'; }
  .edit p {
    font-size: 1.6em; }
    @media print {
      .edit p {
        display: none; } }

#editor {
  position: fixed;
  top: 240px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }
  @media screen and (max-width: 48em) {
    #editor {
      position: static; } }
  #editor nav {
    position: absolute;
    left: -50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; }
    #editor nav a {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f1f8ff;
      color: #0366d6;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 10px; }
      #editor nav a:hover {
        background-color: #dfecff; }
      #editor nav a:before {
        font-family: 'Font Awesome 5 Free', sans-serif;
        font-weight: 900;
        font-size: 2.5em;
        position: absolute;
        left: calc(50px / 2 - 20px);
        top: calc(50px / 2 - 12.5px);
        width: 40px;
        height: 40px;
        text-align: center; }
      #editor nav a.select-all:before {
        content: '\f249'; }
      #editor nav a.view:before {
        content: '\f06e'; }

.insertion-wrapper {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 2; }
  .insertion-wrapper.visible {
    display: flex; }
  .insertion-wrapper .field-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 3px; }
    .insertion-wrapper .field-container .search-wrapper {
      padding: 15px; }
      .insertion-wrapper .field-container .search-wrapper .row.active {
        background-color: #dee0e2; }
    .insertion-wrapper .field-container #image-container {
      width: 100%; }
      .insertion-wrapper .field-container #image-container img {
        width: 100%;
        margin-bottom: 15px; }
    .insertion-wrapper .field-container #image-delete-button {
      display: none; }
      .insertion-wrapper .field-container #image-delete-button.visible {
        display: block; }
  .insertion-wrapper a.button {
    margin-right: 0;
    max-width: 100%; }

.toast {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s; }
  .toast.visible {
    opacity: 1; }
  .toast span {
    position: absolute;
    bottom: 30px;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 1.6em;
    border-radius: 6px; }

.tags a {
  background-color: #f1f8ff;
  color: #0366d6;
  padding: 3px 10px;
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 6px;
  line-height: 30px;
  font-size: 1.2em;
  text-decoration: none;
  white-space: nowrap; }
  .tags a:hover {
    background-color: #dfecff; }
  .tags a.publish {
    background-color: #fff8f1;
    color: #d66603; }
    .tags a.publish:hover {
      background-color: #ffecdf; }

.content h1 {
  font-size: 3.2em;
  padding-bottom: 9.5px; }
.content h2 {
  font-size: 2.4em;
  padding-bottom: 8px; }
.content h3 {
  font-size: 2.0em;
  padding-bottom: 6.5px; }
.content h4 {
  font-size: 1.8em;
  padding-bottom: 5px; }
.content h5 {
  font-size: 1.7em;
  padding-bottom: 3.5px; }
.content h6 {
  font-size: 1.65em;
  padding-bottom: 2px; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  border-bottom: 1px solid #eaecef; }
.content p {
  font-size: 1.6em;
  line-height: 150%;
  text-align: justify; }
.content a {
  color: #0366d6;
  text-decoration: none; }
  .content a:hover {
    text-decoration: underline; }
  .content a.related {
    display: block;
    margin: 15px 0;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    background-color: #fafbfc;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.84) !important;
    font-size: 1.31em;
    font-weight: bold;
    clear: both;
    overflow: hidden; }
    @media print {
      .content a.related {
        display: none; } }
    .content a.related:before {
      position: relative;
      bottom: 2px;
      content: '\f35d';
      font-family: 'Font Awesome 5 Free', sans-serif;
      font-weight: 900;
      margin-right: 15px;
      font-size: 0.75em; }
    .content a.related:hover {
      text-decoration: none; }
.content .code-container {
  position: relative; }
  .content .code-container:hover .clipboard {
    display: inline-block; }
  .content .code-container .clipboard {
    display: none;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 14px; }
.content pre {
  font-size: 14px; }
  .content pre.line-numbers .line-number {
    display: inline-block;
    width: 30px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #989898;
    text-align: right;
    color: #989898;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none; }
  .content pre .line-number {
    display: none; }
.content code:not([class^=' lang']) {
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  cursor: pointer; }
.content strong, .content b {
  font-weight: 600; }
.content blockquote {
  position: relative;
  background-color: #f4f2f0;
  margin: 7px 0;
  padding: 14px 50px 14px 50px;
  min-height: 52px; }
  .content blockquote:before, .content blockquote:after {
    position: absolute;
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    font-size: 20px; }
  .content blockquote:before {
    top: 18px;
    left: 16px;
    content: '\f10d'; }
  .content blockquote:after {
    bottom: 18px;
    right: 16px;
    content: '\f10e'; }
  .content blockquote p {
    margin-top: 0;
    font-size: 16px; }
    .content blockquote p:last-of-type {
      margin-bottom: 0; }
.content ul, .content ol {
  font-size: 16px; }
  .content ul li, .content ol li {
    margin-bottom: 5px;
    line-height: 150%; }
    .content ul li p, .content ol li p {
      font-size: 1em; }
.content img {
  position: relative;
  max-width: 100%;
  width: auto;
  left: 0;
  float: left;
  margin-right: 25px;
  margin-bottom: 15px;
  cursor: zoom-in;
  transition: max-width 0.5s, left 0.5s;
  -webkit-transition: max-width 0.5s, left 0.5s;
  -moz-transition: max-width 0.5s, left 0.5s;
  -o-transition: max-width 0.5s, left 0.5s;
  -ms-transition: max-width 0.5s, left 0.5s; }
  .content img.zoom {
    z-index: 1;
    max-width: 80vw;
    cursor: zoom-out; }
.content .iframe-wrapper {
  text-align: center;
  background-color: #000; }
  .content .iframe-wrapper iframe {
    max-width: 100%;
    width: 560px;
    height: 315px; }
.content span#cursor {
  position: relative; }
  .content span#cursor:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 1.3em;
    border-right: 2px solid #0366d6;
    animation-name: cursor;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; }
.content span.search-highlight {
  background-color: yellow; }
@keyframes cursor {
  0% {
    border-color: #0366d6; }
  50% {
    border-color: #0366d6; }
  100% {
    border-color: transparent; } }
#uploadForm .title {
  height: 200px; }
  #uploadForm .title .drop-area {
    cursor: pointer; }
    #uploadForm .title .drop-area.hover .border-area {
      background-color: #fff; }
      #uploadForm .title .drop-area.hover .border-area h1 span.icon:before {
        animation: dragover;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear; }
    #uploadForm .title .drop-area.uploading .border-area h1 span.icon:before {
      content: '\f251';
      animation: hourglass;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-timing-function: linear; }
@keyframes hourglass {
  0% {
    content: '\f251'; }
  33% {
    content: '\f252'; }
  66% {
    content: '\f253'; } }
    #uploadForm .title .drop-area .border-area {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border: 3px dashed #e1e4e8;
      pointer-events: none; }
      @media screen and (max-width: 36em) {
        #uploadForm .title .drop-area .border-area {
          margin: 0 20px;
          width: calc(100% - 40px); } }
      #uploadForm .title .drop-area .border-area h1 {
        width: 100%;
        text-align: center; }
        #uploadForm .title .drop-area .border-area h1 span.icon {
          position: relative; }
          #uploadForm .title .drop-area .border-area h1 span.icon:before {
            font-family: 'Font Awesome 5 Free', sans-serif;
            font-weight: 900;
            font-size: 2em;
            content: '\f019';
            position: absolute;
            top: -10px;
            left: -60px; }
            @media screen and (max-width: 36em) {
              #uploadForm .title .drop-area .border-area h1 span.icon:before {
                display: none; } }
@keyframes dragover {
  0% {
    top: -20px; }
  50% {
    top: 0; }
  100% {
    top: 0; } }
        #uploadForm .title .drop-area .border-area h1 span:not([class='icon']) {
          font-weight: normal; }
      #uploadForm .title .drop-area .border-area input {
        display: none; }
      #uploadForm .title .drop-area .border-area #progress {
        position: absolute;
        left: -3px;
        bottom: -3px;
        height: 3px;
        background-color: #0366d6; }
        #uploadForm .title .drop-area .border-area #progress._1 {
          width: calc(1 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._2 {
          width: calc(2 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._3 {
          width: calc(3 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._4 {
          width: calc(4 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._5 {
          width: calc(5 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._6 {
          width: calc(6 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._7 {
          width: calc(7 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._8 {
          width: calc(8 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._9 {
          width: calc(9 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._10 {
          width: calc(10 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._11 {
          width: calc(11 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._12 {
          width: calc(12 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._13 {
          width: calc(13 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._14 {
          width: calc(14 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._15 {
          width: calc(15 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._16 {
          width: calc(16 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._17 {
          width: calc(17 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._18 {
          width: calc(18 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._19 {
          width: calc(19 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._20 {
          width: calc(20 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._21 {
          width: calc(21 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._22 {
          width: calc(22 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._23 {
          width: calc(23 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._24 {
          width: calc(24 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._25 {
          width: calc(25 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._26 {
          width: calc(26 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._27 {
          width: calc(27 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._28 {
          width: calc(28 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._29 {
          width: calc(29 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._30 {
          width: calc(30 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._31 {
          width: calc(31 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._32 {
          width: calc(32 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._33 {
          width: calc(33 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._34 {
          width: calc(34 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._35 {
          width: calc(35 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._36 {
          width: calc(36 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._37 {
          width: calc(37 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._38 {
          width: calc(38 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._39 {
          width: calc(39 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._40 {
          width: calc(40 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._41 {
          width: calc(41 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._42 {
          width: calc(42 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._43 {
          width: calc(43 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._44 {
          width: calc(44 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._45 {
          width: calc(45 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._46 {
          width: calc(46 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._47 {
          width: calc(47 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._48 {
          width: calc(48 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._49 {
          width: calc(49 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._50 {
          width: calc(50 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._51 {
          width: calc(51 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._52 {
          width: calc(52 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._53 {
          width: calc(53 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._54 {
          width: calc(54 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._55 {
          width: calc(55 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._56 {
          width: calc(56 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._57 {
          width: calc(57 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._58 {
          width: calc(58 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._59 {
          width: calc(59 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._60 {
          width: calc(60 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._61 {
          width: calc(61 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._62 {
          width: calc(62 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._63 {
          width: calc(63 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._64 {
          width: calc(64 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._65 {
          width: calc(65 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._66 {
          width: calc(66 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._67 {
          width: calc(67 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._68 {
          width: calc(68 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._69 {
          width: calc(69 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._70 {
          width: calc(70 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._71 {
          width: calc(71 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._72 {
          width: calc(72 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._73 {
          width: calc(73 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._74 {
          width: calc(74 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._75 {
          width: calc(75 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._76 {
          width: calc(76 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._77 {
          width: calc(77 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._78 {
          width: calc(78 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._79 {
          width: calc(79 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._80 {
          width: calc(80 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._81 {
          width: calc(81 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._82 {
          width: calc(82 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._83 {
          width: calc(83 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._84 {
          width: calc(84 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._85 {
          width: calc(85 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._86 {
          width: calc(86 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._87 {
          width: calc(87 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._88 {
          width: calc(88 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._89 {
          width: calc(89 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._90 {
          width: calc(90 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._91 {
          width: calc(91 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._92 {
          width: calc(92 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._93 {
          width: calc(93 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._94 {
          width: calc(94 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._95 {
          width: calc(95 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._96 {
          width: calc(96 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._97 {
          width: calc(97 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._98 {
          width: calc(98 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._99 {
          width: calc(99 * 1% + 2 * 3px); }
        #uploadForm .title .drop-area .border-area #progress._100 {
          width: calc(100 * 1% + 2 * 3px); }
      #uploadForm .title .drop-area .border-area #overallProgress {
        display: none;
        position: absolute;
        left: -15px;
        bottom: -15px;
        background-color: #0366d6;
        color: #fff;
        border-radius: 50%;
        width: calc(2 * 15px);
        height: calc(2 * 15px);
        line-height: calc(2 * 15px);
        text-align: center;
        font-size: 1.4em; }
        #uploadForm .title .drop-area .border-area #overallProgress.show {
          display: block; }

/*# sourceMappingURL=styles.css.map */
