.tags {
	a {
		background-color: $tagBackgroundColor;
		color: $tagFontColor;
		padding: 3px 10px;
		border-radius: 3px;
		margin-right: 6px;
		margin-bottom: 6px;
		line-height: 30px;
		font-size: 1.2em;
		text-decoration: none;
		white-space: nowrap;
		&:hover {
			background-color: $tagHoverBackgroundColor;
		}
		&.publish {
			background-color: #fff8f1;
			color: #d66603;;
			&:hover {
				background-color: #ffecdf;
			}
		}
	}
}

.content {
	h1 {
		font-size: 3.2em;
		padding-bottom: 9.5px;
	}

	h2 {
		font-size: 2.4em;
		padding-bottom: 8px;
	}

	h3 {
		font-size: 2.0em;
		padding-bottom: 6.5px;
	}

	h4 {
		font-size: 1.8em;
		padding-bottom: 5px;
	}

	h5 {
		font-size: 1.7em;
		padding-bottom: 3.5px;
	}

	h6 {
		font-size: 1.65em;
		padding-bottom: 2px;
	}

	h1, h2, h3, h4, h5, h6 {
		border-bottom: 1px solid $headingBorderColor;
	}

	p {
		font-size: 1.6em;
		line-height: 150%;
		text-align: justify;
	}

	a:not(.related) {
		color: #0366d6;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.code-container {
		position: relative;
		&:hover .clipboard {
			display: inline-block;
		}
		.clipboard {
			display: none;
			position: absolute;
			top: 14px;
			right: 10px;
			cursor: pointer;
			background-color: #fff;
			border-radius: 3px;
			padding: 3px 10px;
			font-size: 14px;
		}
	}

	pre {
		font-size: 14px;
		&.line-numbers {
			.line-number {
				display: inline-block;
				width: 30px;
				padding-right: 10px;
				margin-right: 10px;
				border-right: 1px solid #989898;
				text-align: right;
				color: #989898;
				@include prefix(user-select, none);
			}
		}
		.line-number {
			display: none;
		}
	}

	code:not([class^=' lang']) {
		padding: 3px 5px;
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 3px;
		cursor: pointer;
	}

	strong, b {
		font-weight: 600;
	}

	blockquote {
		position: relative;
		background-color: #f4f2f0;
		margin: 7px 0;
		padding: 14px 50px 14px 50px;
		min-height: 52px;
		&:before, &:after {
			position: absolute;
			font-family: 'Font Awesome 5 Free', sans-serif;
			font-weight: 900;
			font-size: 20px;
		}
		&:before {
			top: 18px;
			left: 16px;
			content: '\f10d';
		}
		&:after {
			bottom: 18px;
			right: 16px;
			content: '\f10e';
		}
		p {
			margin-top: 0;
			font-size: 16px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	ul, ol {
		font-size: 16px;
		li {
			margin-bottom: 5px;
			line-height: 150%;
			p {
				font-size: 1em;
			}
		}
	}

	a.image-link {
		display: block;
		text-align: center;
		cursor: auto;
		img {
			position: relative;
			max-width: 100%;
			width: auto;
			left: 0;
			margin-right: 25px;
			margin-bottom: 15px;
			cursor: zoom-in;
			@include prefix(transition, (max-width 0.5s, left 0.5s));
			&.zoom {
				z-index: 1;
				max-width: 80vw;
				cursor: zoom-out;
				outline: 20000px solid rgba(0, 0, 0, 0.9);
			}
		}
	}

	.iframe-wrapper {
		text-align: center;
		background-color: #000;
		iframe {
			max-width: 100%;
			width: 560px;
			height: 315px;
		}
	}

	span {
		&#cursor {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				display: inline-block;
				width: 0;
				height: 1.3em;
				border-right: 2px solid #0366d6;
				animation-name: cursor;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
			}
		}
		&.search-highlight {
			background-color: yellow;
		}
	}

	@keyframes cursor {
		0% { border-color: #0366d6; }
		50% { border-color: #0366d6; }
		100% { border-color: transparent; }
	}
}

.attachments a, .related {
	display: block;
	margin: 10px 0;
	padding: 10px;
	color: #24292e;
	background-color: $headingBorderColor;
	border: 1px solid $headingBorderColor;
	font-size: 16px;
	border-radius: 3px;
	text-decoration: none;
	line-height: 1em;
	&:hover {
		color: #fff;
		background-color: $tagFontColor;
		border-color: $tagFontColor;
	}
	span {
		display: block;
		font-size: 0.75em;
	}
}