.tags {
	a {
		background-color: $tagBackgroundColor;
		color: $tagFontColor;
		padding: 3px 10px;
		border-radius: 3px;
		margin-right: 6px;
		margin-bottom: 6px;
		line-height: 30px;
		font-size: 1.2em;
		text-decoration: none;
		white-space: nowrap;
		&:hover {
			background-color: $tagHoverBackgroundColor;
		}
	}
}

.content {
	h1 {
		font-size: 3.2em;
		padding-bottom: 9.5px;
	}

	h2 {
		font-size: 2.4em;
		padding-bottom: 8px;
	}

	h3 {
		font-size: 2.0em;
		padding-bottom: 6.5px;
	}

	h4 {
		font-size: 1.8em;
		padding-bottom: 5px;
	}

	h5 {
		font-size: 1.7em;
		padding-bottom: 3.5px;
	}

	h6 {
		font-size: 1.65em;
		padding-bottom: 2px;
	}

	h1, h2, h3, h4, h5, h6 {
		border-bottom: 1px solid $headingBorderColor;
	}

	p {
		font-size: 1.6em;
		line-height: 150%;
		text-align: justify;
	}

	a {
		color: #0366d6;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.related {
			display: block;
			margin: 15px 0;
			padding: 0 15px;
			height: 60px;
			line-height: 60px;
			background-color: $titleBackgroundColor;
			border: 1px solid rgba(0, 0, 0, 0.04);
			border-radius: 4px;
			box-shadow: 0 1px 7px rgba(0, 0, 0, .05);
			color: rgba(0, 0, 0, .84) !important;
			font-size: 1.31em;
			font-weight: bold;
			clear: both;
			overflow: hidden;
			@include print {
				display: none;
			}
			&:before {
				position: relative;
				bottom: 2px;
				content: '\f35d';
				font-family: 'Font Awesome 5 Free', sans-serif;
				font-weight: 900;
				margin-right: 15px;
				font-size: 0.75em;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}

	pre {
		position: relative;
		font-size: 14px;
		&:hover .clipboard {
			display: inline-block;
		}
		&.line-numbers {
			.line-number {
				display: inline-block;
				width: 30px;
				padding-right: 10px;
				margin-right: 10px;
				border-right: 1px solid #989898;
				text-align: right;
				color: #989898;
				@include prefix(user-select, none);
			}
		}
		.line-number {
			display: none;
		}
		.clipboard {
			display: none;
			position: absolute;
			top: 14px;
			right: 10px;
			cursor: pointer;
			background-color: #fff;
			border-radius: 3px;
			padding: 0 10px;
		}
	}

	code:not([class^=' lang']) {
		padding: 3px 5px;
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 3px;
	}

	strong, b {
		font-weight: 600;
	}

	blockquote {
		position: relative;
		background-color: #f4f2f0;
		margin: 7px 0;
		padding: 14px 50px 14px 50px;
		min-height: 52px;
		&:before, &:after {
			position: absolute;
			font-family: 'Font Awesome 5 Free', sans-serif;
			font-weight: 900;
			font-size: 20px;
		}
		&:before {
			top: 18px;
			left: 16px;
			content: '\f10d';
		}
		&:after {
			bottom: 18px;
			right: 16px;
			content: '\f10e';
		}
		p {
			margin-top: 0;
			font-size: 16px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	ul, ol {
		font-size: 16px;
		li {
			margin-bottom: 5px;
			line-height: 150%;
			p {
				font-size: 1em;
			}
		}
	}

	img {
		position: relative;
		max-width: 100%;
		width: auto;
		left: 0;
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
		cursor: zoom-in;
		@include prefix(transition, (max-width 0.5s, left 0.5s));
		&.zoom {
			z-index: 1;
			max-width: 80vw;
			cursor: zoom-out;
		}
	}

	span#cursor {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			display: inline-block;
			width: 0;
			height: 1.3em;
			border-right: 2px solid #0366d6;
			animation-name: cursor;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
		}
	}

	@keyframes cursor {
		0% { border-color: #0366d6; }
		50% { border-color: #0366d6; }
		100% { border-color: transparent; }
	}
}