<html>
<head>
	{% block head %}
	<script src="js/edit.js"></script>
</head>
<body>
{% block header %}
<div class="title edit">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="label-positioner">
					<label for="title">Title*:</label>
					<input type="text" name="title" id="title" placeholder="Title" value="{% block title %}"
					       tabindex="1"/>
					<label for="title">Must not be empty</label>
				</div>
				<div class="label-positioner">
					<label for="slug">Slug*:</label>
					<input type="text" name="slug" id="slug" placeholder="slug" value="{% block slug %}"
					       tabindex="2"/>
					<label for="slug">Slug already taken</label>
				</div>
				<div class="label-positioner">
					<label for="tags">Tags:</label>
					<input type="text" name="tags" id="tags" placeholder="Tags" value="{% block tags %}" tabindex="3"/>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<a href="#" class="button save success" id="save-button" title="Ctrl+S">Saved</a>
				<a href="#" class="button delete" id="delete-button">Delete</a>
				<a href="wiki/view/{% block slug %}" class="button view" id="view-button">View</a>
			</div>
		</div>
	</div>
</div>
<div id="editor">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="edit">
					<div id="button-wrapper"></div>
					<nav>
						<a class="select-all" href="#" title="Select All"></a>
						<a class="view" href="wiki/view/{% block slug %}" title="View" id="view-material-button"></a>
					</nav>
					<label for="content" class="collapse">Content</label>
					<textarea id="content" tabindex="4">{% block content %}</textarea>
				</div>
			</div>
			<div class="col-12 col-md-6" id="display-activator"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6" id="editor-activator"></div>
		<div class="col-12 col-md-6">
			<div class="content" id="preview">
				{% block content %}
			</div>
		</div>
	</div>
</div>

</body>
</html>