<html>
<head>
	{% block head %}
	<script src="js/index.js"></script>
</head>
<body>
{% block header %}
<div class="title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="entry-title">{% block title %}</h1>
				<div class="tags">
					{% block tags %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="index content">
				<div class="row index-row">
					<div class="col-12 col-md-9">
						<strong>Title</strong>
					</div>
					<div class="col-12 col-md-3">
						<strong>Last Modified</strong>
					</div>
				</div>
				{% block content %}
			</div>
		</div>
	</div>
</div>
</body>
</html>