<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
<title>{% block title %} - {% block wikiname %}</title>
<link rel="shortcut icon" href="/img/favicon.ico?v=2" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="/css/bootstrap-grid.min.css" rel="stylesheet"/>
<link href="/css/styles.css" rel="stylesheet"/>
<link href="/css/prism.css" rel="stylesheet"/>
{% block envvars %}
<script src="/js/prism.js"></script>
<script src="/js/marked.min.js"></script>
<script src="/js/functions.js"></script>