<html>
<head>
	{% block head %}
	<script src="/js/settings.js"></script>
</head>
<body>
{% block header %}
<div class="title edit">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="label-positioner">
					<label for="port">Port:</label>
					<input type="text" id="port" placeholder="3000" value="{% block port %}"
					       tabindex="1"/>
				</div>
				<div class="label-positioner">
					<label for="wikiname">Name:</label>
					<input type="text" id="wikiname" placeholder="Personal Wiki" value="{% block wikiname %}"
					       tabindex="2"/>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<a href="#" class="button save success" id="save-button" title="Ctrl+S">Saved</a>
				<a href="#" class="button update" id="update-button">Update Wiki</a>
				<a href="#" class="button publish" id="publish-button">Publish Wiki</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="content">
				<h1>Parameter Changes</h1>
				<p>In order for the changes to take effect, a restart of the wiki is required.</p>
				<p>The update feature may not be working fully yet.</p>
				<h1>Search Tags</h1>
				<p>By default, search terms entered into the search field only match title and tags. You can apply the following tags to further specify where to search:</p>
				<ul>
					<li><code>all:searchterm</code> Search in title, tags, and text.</li>
					<li><code>title:searchterm</code> Search <i>only</i> in title.</li>
					<li><code>tags:searchterm</code> Search <i>only</i> in tags.</li>
					<li><code>file/files:searchterm</code> Search for files.</li>
				</ul>
				<h1>Publish a Wiki</h1>
				<p>All wiki entries with tag <code>publish</code> are going to be converted to HTML and stored in <code>/public/publish</code>.</p>
				<p>In order to publish the wiki online, create the following folder structure on your server:</p>
				<ul>
					<li>wiki
						<ul>
							<li>css
								<ul>
									<li>bootstrap-grid.min.css</li>
									<li>prism.css</li>
									<li>styles.css</li>
								</ul>
							</li>
							<li>img
								<ul>
									<li>favicon.ico</li>
								</ul>
							</li>
							<li>js
								<ul>
									<li>functions.js</li>
									<li>index.js</li>
									<li>marked.min.js</li>
									<li>prism.js</li>
									<li>view.js</li>
								</ul>
							</li>
							<li>publish
								<ul>
									<li><em>all published files that are generated when clicking "Publish Wiki"</em></li>
								</ul>
							</li>
							<li>index.php</li>
						</ul>
					</li>
				</ul>
				<p>Where <em>index.php</em> contains the following code:</p>
				<pre class="language-php"><code class="language-php">&lt;?php
require('./publish/' . $_GET['slug'] . '.php');
?&gt;</code></pre>
			</div>
		</div>
	</div>
</div>
<div class="toast">
	<span>Wiki successfully published</span>
</div>
</body>
</html>