<html>
<head>
	{% block head %}
	<script src="js/view.js"></script>
</head>
<body>
{% block header %}
<div class="title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="entry-title">{% block title %}</h1>
				<div class="tags">
					{% block tags %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="content">
				{% block content %}
			</div>
		</div>
		<div class="col-12 col-md-4 edit">
			<a class="button editbutton" href="wiki/edit/{% block slug %}" title="E">Edit</a>
			<a class="button delete" href="#" data-slug="{% block slug %}">Delete</a>
			<a class="button print" onclick="window.print()" title="P">Print</a>
		</div>
	</div>
</div>
</body>
</html>